@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 25%;
	float: left;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", cutive;
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .columns h4 {
	text-align: center;
	color: #01B2D1;
}
.primary_header {
	width: 100%;
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
}
.secondary_header {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #FFFFFF;
	clear: left;
}
.secondary_header .links {
	float: right;
	margin-right: auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", cutive;
    font-weight: normal;
	color: #828282;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	transition: all 0.3s linear;
	overflow: hidden;
}
.secondary_header .links a {
	float: right;
	color: #343434;
	text-decoration: none;
	display: inline-block;
  	padding: 0px 16px;
}
.small_screen_header .smallScreenLinks {
	margin-right: auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", cutive;
    font-weight: normal;
	color: #828282;
	width: 100%;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	transition: all 0.3s linear;
	overflow: hidden;
	display: none;
}
.small_screen_header .smallScreenLinks a {
	color: #343434;
	display: inline-block;
  	padding: 0px 16px;
}
.secondary_header  .links {
	width: 40%;
}
.secondary_header .page_title  {
	width: 280px;
	float: left;
}
.secondary_header  .page_title a {
	font-family: cutive, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #343434;
	padding-left: 0;
	padding-right: 5%;
  	padding-bottom: 14px;
	padding-top: 14px;
	margin-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.secondary_header a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.small_screen_header a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.secondary_header .page_title a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.left_article {
	background-color: #FFFFFF;
	font-family: cutive, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #575757;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 0;
	padding-right: 5%;
	margin-top: 5%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 0%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #575757;
}

.container .left_article a {
	color: #0B0A7E;
	font-weight: bold;
	text-decoration: underline;
}
.left_article .paper_link a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.left_article .cv_link a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.left_article a:hover {
	color: #242D60;
	cursor: pointer;
	text-decoration: underline;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", cutive;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.paper_list {
	font-size: 0.9em;
	letter-spacing: -0.5px;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


@media screen and (min-width: 525px) {
	.secondary_header  .page_title a {
		font-size: x-large;
	}
	
	.small_screen_header {
		display: none;
	}
	
	.container .left_article p {
		margin-left: 15%;
		margin-right: 15%;
	}
	.container .left_article ul {
		margin-left: 15%;
		margin-right: 15%;
	}
	.container .left_article h3 {
		margin-left: 15%;
		margin-right: 15%;
	}
	
	.profilePic {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		height: auto;
	}
	.profilePicSmall {
		display: none;
	}
}

@media screen and (max-width: 300px) {
	.secondary_header  .page_title a {
		font-size: medium;
	}
	.small_screen_header .smallScreenLinks {
		display: block;
	}
	.secondary_header .links a {
		display: none;
	}

	.container .left_article p {
		margin-left: 0%;
		margin-right: 0%;
	}
	.container .left_article h3 {
		margin-left: 0%;
		margin-right: 0%;
	}
	
	.profilePic {
		display: none;
	}
	.profilePicSmall {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		height: auto;
	}
	
	.secondary_header {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 15px;
	}
	.small_screen_header {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
	}
}

@media screen and (max-width: 525px) and (min-width: 300px) {
	
	.secondary_header  .page_title a {
		font-size: large;
	}
	.small_screen_header .smallScreenLinks {
		display: block;
	}
	.secondary_header .links a {
		display: none;
	}

	.secondary_header {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 15px;
	}
	.small_screen_header {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
	}
	
	.container .left_article ul {
		margin-left: 5%;
		margin-right: 5%;
	}
	.container .left_article p {
		margin-left: 5%;
		margin-right: 5%;
	}
	.container .left_article h3 {
		margin-left: 5%;
		margin-right: 5%;
	}
	.profilePic {
		display: none;
	}
	.profilePicSmall {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		height: auto;
	}

}
