body {
  background-image: url("../resources/background2.png");
  color: #444;
  font: 13px "ge-inspira", "Helvetica", "Arial", sans-serif;
  margin: 0;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}
#wrapper {
  margin: 0 auto 32px;
  padding: 0 16px 16px;
  width: 1020px;
}
#header {
  display: block;
  font-family: "ge-inspira", "Helvetica", "Arial", sans-serif;
  margin-bottom: 28px;
  position: relative;
  z-index: 5;}
#header #mainTitle {
  line-height: 1;
  font-family: 'Bevan', serif;
  font-size: 20.5px;
  font-weight: normal;
  vertical-align: top;
  position: absolute;
  width: 144px;
  margin-top: 20px;
}
#header #mainTitle a {
  color: black;
  display: block;
  text-decoration: none;
  text-align: left;
}
#navigation {
    height: 32px;
	float: left;
	width: 100%;
	clear: both;
	border-bottom: 6px solid black;
	margin-top: 60px;
	padding-bottom: 7px;
}
#navigation ul {
	list-style: none;
	margin: 0 0 0 130px;
	padding: 0px;
	display: block;
}
#navigation li {
	float: left;
	padding: 10px 9px 10px 9px;
	width: auto;
	height: auto;
	font-size: 17px;	
	display: list-item;
	color: black;
	font: 17px "Georgia", sans-serif;
}
li:hover {
  cursor: hand;
  cursor: pointer;
}
#navigation li#selTab {
	background-color: black;
	color: white;
}
#main {
  margin: 0 16px;
  min-height: 400px;
  padding-top: 180px;
  padding-left: 130px;
  padding-bottom: 30px;
  border-bottom: 6px solid black;
}
.showdiv {
	display: block;
} 
.hidediv {
	display: none;
} 
h2 {
	color: black;
	font: 17px "Georgia", sans-serif;
	width: 100%;
	border-bottom: 1px solid #C0C0C0;
}
a#blogLink {
	display: block;
	color: black;
	text-decoration: none;
}
#blogLink a:hover {
	display: block;
	color: black;
	text-decoration: none;
}
p  {
	font-family: "ge-inspira", "Helvetica", "Arial", sans-serif;
}
a:link, a:visited {
  color: #006699;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: underline;
}
#socialLinks {
	float: right;
}
#footer p {
	text-align: center;
	font-size: 80%;
	font-weight: bold;
}